.slider {
	user-select: none;
	width: 400px;
	height: 12px;
	background: rgb(39, 53, 117);
	border-radius: 6px;
	margin: 200px auto;
	position: relative;

	&:before {
		position: absolute;
		left: 70%;
		bottom: 100%;
		height: 10px;
		width: 1px;
		background: #000;
		content: '';
	}

	&__handle {
		width: 30px;
		height: 30px;
		margin: -9px 0 0 -15px;
		position: absolute;
		left: 0;
		top: 0;
		cursor: pointer;

		&:after {
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			background: rgb(46, 128, 64);
			border-radius: 50%;
		}
		&_left {

		}

		&_right {

		}
	}

	&__range {

	}
}